body {
    font-family: 'Open Sans Condensed';
    padding: 10px 60px;
    padding-bottom:0;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;   /*to remove default box padding*/
}

